/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="file"] {
    display: none;
}

.edit-container {
    padding: 0 2rem;

    .btn-wrapper {
        display: flex;
        justify-content: flex-end;

        &__btn {
            font-size: 20px;
            padding-top: 2rem;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin: 2rem 0;
    }

    .added-image {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        label {
            color: #000;
            cursor: pointer;
            width: 100px;
        }
    }
}